.threesy-line {
  $default_line_color: #0288D1;

  path.line {
    fill: none;
    stroke: $default_line_color;
    stroke-width: 1px;
  }

  .threesy-data-point {
    fill: #FFF;
    stroke: $default_line_color;
    stroke-width: 2;
  }
}