.threesy-line {
  $default_line_color: #0288D1;
  $default_grid_line_color: #E0E0E0;

  path.line {
    fill: none;
    stroke: $default_line_color;
    stroke-width: 1px;
  }

  .threesy-data-point {
    fill: #FFF;
    stroke: $default_line_color;
    stroke-width: 2;

    &:hover {
      stroke-width: 4;
    }
  }

  .threesy-grid-line {
    stroke: $default_grid_line_color;
    stroke-width: 1px;
    stroke-dasharray: 5, 5;
  }
}